.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(164, 9, 164);
  color: rgb(248, 239, 239);
  font-size: 20px;
}

.button:hover {
  background-color: rgb(197, 6, 197);
}
